{% load staticfiles %}
                      <h4 class="header">User Profile</h4>
                      <div id="profile-card" class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{% static dashboard.getBackground %}" alt="user bg">
                        </div>
                        <a href="{% url 'dashboard' %}"><i class="material-icons right">close</i></a>
                        <div class="card-content">
                          <img src="{% static 'images/avatar/avatar-7.png' %}" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1">
                            <h4 class="header2">Edit Your Profile</h4>
                            <div class="row">
                              <form action="{% url 'dashboard_update' %}" class="col s12" method="get">
                                <input type="hidden" name="semester" value="{{ dashboard.getRecentSemester }}">
                                <div class="row">
                                  <div class="input-field col s6">
                                    <input id="first_name" type="text" name="firstname" value="{{ dashboard.getFirstName }}">
                                    <label for="first_name">First Name</label>
                                  </div>
                                  <div class="input-field col s6">
                                    <input id="last_name" type="text" name="lastname" value="{{ dashboard.getLastName }}">
                                    <label for="last_name">Last Name</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s12 m6">
                                    <select class="icons" name="class_year" required>
                                      <option value="" disabled selected>Choose your option</option>
                                      {% for i, name in dashboard.getClassYears %}
                                        {% static "images/avatar/avatar-" as startURL %}
                                          <option {% if dashboard.getClassYearNum == i %} selected {% endif %} value="{{ i }}" data-icon="{{ startURL }}{{ i }}.png" class="left circle">{{ name }}</option>
                                      {% endfor %}
                                    </select>
                                    <label>Class Year</label>
                                  </div>
                                  <div class="input-field col s12 m6">
                                    <select name="major" required>
                                      {% for key, value in dashboard.getMajors %}
                                        <optgroup label="{{ key }}">
                                          {% for major in value %}
                                          <option value="{{ major }}" {% if major == dashboard.getMajor %} selected {% endif %}>{{ major }}</option>
                                          {% endfor %}
                                        </optgroup>
                                      {% endfor %}
                                    </select>
                                    <label>Major</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Update
                                      <i class="material-icons right">send</i>
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </div>

                        </div>
                      </div>