{% load staticfiles %}    
                    <h4 class="header">Desired Courses</h4>
                    <ul id="issues-collection" class="collection z-depth-1">
                      <li class="collection-item avatar">
                        <i class="material-icons red accent-2 circle">device_hub</i>
                        <h6 class="collection-header m-0">COURSES</h6>
                        <p>I would like to take next semester</p>
                      </li>
                      <li class="collection-item" style="text-align:center;">
                        {% if dashboard.getPreferredCourses|length == 0 %}
                          <a class="btn waves-effect waves-light gradient-45deg-green-teal gradient-shadow pulse">Class Registration for {{ dashboard.getSemester }}</a>
                        {% else %}
                          Edit
                        {% endif %}
                      </li>
                      {% for cnr, value in dashboard.getPreferredCourses %}
                        {% for key, course in value.items %}
                      <li class="collection-item">
                        <div class="row">
                          <div class="col s7">
                            <p class="collections-title">
                              <strong>{{ course.course_number }}: {{ course.title }}</strong></p>
                            <p class="collections-content">Instructor: {{ course.professor }}</p>
                          </div>
                          <div class="col s2 text-center" style="text-align: center;margin-top:3%;">
                            <span class="task-cat {{ course.color }} text-center">P{{course.priority}}</span>
                          </div>
                          <div class="col s2" style="text-align: center;margin-top:4%;">
                            <div class="progress">
                              <div class="determinate" style="width: {{ course.percent }}%"></div>
                            </div>
                          </div>
                        </div>
                      </li>
                        {% endfor %}
                      {% endfor %}
                    </ul>