{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Perfect Timetable{% endblock title %}

{% block theme %}<body class="layout-semi-dark">{% endblock %}

{% block content %}
    {% include "header.html" %}

    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        {% include "left-sidebar.html" %}

        <!-- START CONTENT -->
        <section id="content">
          <!--breadcrumbs start-->
          <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active"><a href="#">Main</a></li>
                  </ol>
                </div>
                <div class="col s2 m6 l6">
                  <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right gradient-45deg-light-blue-cyan gradient-shadow" href="#!" data-activates="dropdown1">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">Settings</span>
                    <i class="material-icons right">arrow_drop_down</i>
                  </a>
                  <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>
                    </li>
                    <li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>
                    </li>
                    <li><a href="#!" class="grey-text text-darken-2">Notifications</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--breadcrumbs end-->
          <!--start container-->
          <div class="container">
            <div class="section">
              <!-- <p class="caption">A Simple Blank Page to use it for your custome design and elements.</p> -->
                <div class="row">
                  <!-- START: PROFILE -->
                    <div class="col s12 m12 l6">
                      {% if editable %}
                        {% include "widgets/edit-profile.html" %}
                      {% else %}
                        {% include "widgets/user-profile.html" %}
                      {% endif %}
                    </div>
                  <!-- END: PROFILE -->
                  <!-- START: PREFERRED COURSES -->
                    <div class="col s12 m12 l6">
                      {% include "widgets/preferred-courses.html" %}
                    </div>
                  <!-- END: PREFERRED COURSES -->
                </div>
              <div class="divider"></div>
            </div>
            <!-- Floating Action Button -->
            <div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
              <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow">
                <i class="material-icons">add</i>
              </a>
              <ul>
                <li>
                  <a href="css-helpers.html" class="btn-floating blue">
                    <i class="material-icons">help_outline</i>
                  </a>
                </li>
                <li>
                  <a href="cards-extended.html" class="btn-floating green">
                    <i class="material-icons">widgets</i>
                  </a>
                </li>
                <li>
                  <a href="app-calendar.html" class="btn-floating amber">
                    <i class="material-icons">today</i>
                  </a>
                </li>
                <li>
                  <a href="app-email.html" class="btn-floating red">
                    <i class="material-icons">mail_outline</i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Floating Action Button -->
          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    {% include "footer.html" %}

{% endblock%}