    <!-- START FOOTER -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <span>Copyright ©
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> <a class="red-text text-darken-2" href="#" target="_blank"><b>Natural Intelligence.</b></a> All rights reserved.</span>
          <span class="right hide-on-small-only"> Designed and Developed by <a class="red-text text-darken-2" href="#"><b>Giorgi Kharshiladze & Davit Kvartskhava</b></a></span>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->