    <!-- START FOOTER -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <span>Copyright ©
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> <a class="grey-text text-darken-2" href="#" target="_blank">Natural Intelligence.</a> All rights reserved.</span>
          <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-darken-2" href="#">Giorgi Kharshiladze & Davit Kvartskhava</a></span>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->