{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block imports %}
<link href="{% static 'css/layouts/page-center.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block theme %}<body class="blue accent-2">{% endblock %}

{% block content %}
    <div id="login-page" class="row">
      <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" action="" method="post">{% csrf_token %}
          <div class="row">
            <div class="input-field col s12 center">
              <img src="{% static 'images/logo/login-logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
              <p class="center login-form-text">Perfect Timetable</p>
            </div>
          </div>
          {% if form.errors %}
          <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                {% for error in form.non_field_errors %}
                  <p>{{ error }}</p>
                {% endfor %}
                {% for error in form.password.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
                <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                </button>
              </div>
          </div>
          {% endif %}
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix pt-5">person_outline</i>
              {{ form.username }}
              <label for="username" class="center-align">Username</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix pt-5">lock_outline</i>
              {{ form.password }}
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12 ml-2 mt-3">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" class="btn waves-effect waves-light col s12 blue accent-2">Login</button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <p class="margin medium-small"><a href="{% url 'register' %}">Register Now</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}