{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Perfect Timetable{% endblock title %}

{% block theme %}<body class="layout-semi-dark">{% endblock %}

{% block content %}
    {% include "header.html" %}

    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        {% include "left-sidebar.html" %}

        <!-- START CONTENT -->
        <section id="content">
          <!--breadcrumbs start-->
          <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
<!--             {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'info' %}
                <script type="text/javascript">
                  $( document ).ready(function() { swal("Congratulations!", "{{ message }}", "success"); });
                </script>
                {% endif %}
              {% endfor %}
            {% endif %} -->
            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <ol class="breadcrumbs">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active"><a href="#">Registration</a></li>
                  </ol>
                </div>
                {% include "widgets/settings-button.html" %}
              </div>
            </div>
          </div>
          <!--breadcrumbs end-->
          <!--start container-->
          <div class="container">
            <div class="section">
              <!-- <p class="caption">A Simple Blank Page to use it for your custome design and elements.</p> -->
                <div class="row">
                  <!-- START: PROFILE -->
                    <div class="col s12 m12 l12">
                      <center>
                          <!-- <div class="input-field col s12 m6">
                            <select name="courses" required>
                              {% for key, value in dashboard.getCourses %}
                                <optgroup label="{{ key }}">
                                  {% for course in value %}
                                  <option value="{{ course.cnr }}">{{ course.title }}</option>
                                  {% endfor %}
                                </optgroup>
                              {% endfor %}
                            </select>
                            <label>Courses</label>
                          </div>
                          <input type="submit" value="add"> -->

                          <!-- START DATA TABLE -->
                          <!--DataTables example Row grouping-->
                            <div id="row-grouping" class="section">
                              <h4 class="header">DataTables Row grouping</h4>
                              <div class="row">
                                <div class="col s12">
                                  <p>Although DataTables doesn't have row grouping built-in (picking one of the many methods available would overly limit the DataTables core), it is most certainly possible to give the look and feel of row grouping.</p>
                                </div>
                                <div class="col s12">
                                  <table id="data-table-row-grouping" class="display" cellspacing="0" width="100%">
                                    <thead>
                                      <tr>
                                        <th>Course #</th>
                                        <th>CNR</th>
                                        <th>Department</th>
                                        <th>Course Title</th>
                                        <th>Professor</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for key, value in dashboard.getCourses %}
                                        {% for course in value %}
                                        <tr>
                                          <td><b>{{ course.course_number }}<b></td>
                                          <td>{{ course.cnr }}</td>
                                          <td>{{ key }}</td>
                                          <td>{{ course.title }}</td>
                                          <td>{{ course.professor }}</td>
                                          <td><button>Add Course</button></td>
                                        </tr>
                                        {% endfor %}
                                      {% endfor %}
                                      {% for key, value in dashboard.getCourses %}
                                        {% for course in value %}
                                        <tr>
                                          <td><b>{{ course.course_number }}<b></td>
                                          <td>{{ course.cnr }}</td>
                                          <td>{{ key }}</td>
                                          <td>{{ course.title }}</td>
                                          <td>{{ course.professor }}</td>
                                          <td><button>Add Course</button></td>
                                        </tr>
                                        {% endfor %}
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                          </div>
                          <!-- END DATA TABLE -->

                      </center>
                    </div>
                  <!-- END: PROFILE -->
                </div>
              <div class="divider"></div>
            </div>
            {% include "widgets/action-button.html" %}
          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    {% include "footer.html" %}

{% endblock%}